---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about | default: "About" }}</h3>

<p>I'm a Software Engineer working in On-Device Artificial Intelligence at Samsung R&D Institute, Bangalore. My work involves development of solutions for problems spanning Machine Learning, Artificial Intelligence, Natural Language Processing and Information Retrieval.</p>

<p>I'm also an avid researcher with international publications in NLP, ML and Recommender Systems. You can read my publications on my <a href="https://scholar.google.com/citations?user=hgM0ZcEAAAAJ&hl=en&oi=ao">Google Scholar</a> page or in the publications tab (forthcoming).</p>

<p>I completed my Bachelor of Technology (B.Tech.) with a major in Computer Science and Engineering from the Indian Institute of Technology (IIT), Delhi in 2019. For my Bachelor's project, I worked with <a href="http://www.cse.iitd.ernet.in/~aseth/">Prof. Aaditeshwar Seth</a> on <a href="https://arxiv.org/abs/1907.07253">Fairness and Diversity in the Recommendation and Ranking of Participatory Media Content</a>.</p>

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
